.fs-1 {
  font-size: 1rem;
}
.fs-2 {
  font-size: 2rem;
}
.fs-3 {
  font-size: 3rem;
}
.fs-4 {
  font-size: 4rem;
}
.fs-5 {
  font-size: 5rem;
}
.fs-6 {
  font-size: 6rem;
}
.fs-7 {
  font-size: 7rem;
}
.fs-8 {
  font-size: 8rem;
}


.svg-size-1{
    width:100px;
    height:100px;
}